<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flitapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_actual"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_actual"
        android:supportsRtl="true"
        android:theme="@style/Theme.FLITapp">
        <activity
            android:name=".Chat"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".Responses"
            android:exported="true" />
        <activity
            android:name=".Favourites"
            android:exported="true" />
        <activity
            android:name=".MessagesScreen"
            android:exported="true" />
        <activity
            android:name=".ProfileScreen"
            android:exported="true" />
        <activity
            android:name=".RegTelephoneInput"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".StartScreen"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegNameInput"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".OpenedTask"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RegEmailInput"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>